moneda-asset-canje-mandatorio-Fase 2/Datos/Web References/WSApGp/WSApGp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DeleteAportanteEnGrupo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aportanteXGrupo" type="tns:AportantesXGrupoDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AportantesXGrupoDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdGrupo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RutAportante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreGrupo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreAportante" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaIngreso" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioIngreso" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaModificacion" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioModificacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteAportanteEnGrupoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAportanteEnGrupoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteAportanteEnGrupoSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAportanteEnGrupo" />
  </wsdl:message>
  <wsdl:message name="DeleteAportanteEnGrupoSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAportanteEnGrupoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSApGpSoap">
    <wsdl:operation name="DeleteAportanteEnGrupo">
      <wsdl:input message="tns:DeleteAportanteEnGrupoSoapIn" />
      <wsdl:output message="tns:DeleteAportanteEnGrupoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSApGpHttpGet" />
  <wsdl:portType name="WSApGpHttpPost" />
  <wsdl:binding name="WSApGpSoap" type="tns:WSApGpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteAportanteEnGrupo">
      <soap:operation soapAction="http://tempuri.org/DeleteAportanteEnGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSApGpSoap12" type="tns:WSApGpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteAportanteEnGrupo">
      <soap12:operation soapAction="http://tempuri.org/DeleteAportanteEnGrupo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSApGpHttpGet" type="tns:WSApGpHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="WSApGpHttpPost" type="tns:WSApGpHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="WSApGp">
    <wsdl:port name="WSApGpSoap" binding="tns:WSApGpSoap">
      <soap:address location="http://localhost:2602/WSApGp.asmx" />
    </wsdl:port>
    <wsdl:port name="WSApGpSoap12" binding="tns:WSApGpSoap12">
      <soap12:address location="http://localhost:2602/WSApGp.asmx" />
    </wsdl:port>
    <wsdl:port name="WSApGpHttpGet" binding="tns:WSApGpHttpGet">
      <http:address location="http://localhost:2602/WSApGp.asmx" />
    </wsdl:port>
    <wsdl:port name="WSApGpHttpPost" binding="tns:WSApGpHttpPost">
      <http:address location="http://localhost:2602/WSApGp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>